@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow&family=Fira+Sans:wght@300&family=Inconsolata:wght@300;400&family=Lora&family=Raleway:wght@100;200;300&family=Red+Hat+Mono:wght@300&family=Roboto:wght@300&display=swap');

main{
    font-family: 'Raleway', sans-serif;
    background-color: beige;
}


.carrousel{
    width: 100%;
    
    height: 50%;
    padding-bottom: 30%;
}
img{
   width: 750px;
   height: 370px;
   margin-left: 25%;
} 

h1, h2, h3, h4{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Lora', serif;
}
h5{
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Lora', serif;
}

p{
    width: 70%;
    text-align: justify;
    margin-left: 50px;
    
}
.sobremi{
    margin-left: 15%;
    padding-bottom: 80px;
}
.piedepagina{
    margin-left: 0%;
}
strong{
    padding-bottom: 10px;
}
address{
    padding-bottom: 40px;
    padding-top: 50px;
}

.titulofoto{
    padding-bottom: 2px;
    text-align: center;

}
.descripcionfoto{
    padding-bottom: 2px;
    text-align: center;
    margin-left: 15%;
}
.btn-btn-warning{
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}
.img-thumbnai{
    width: 5%;
    height: 5%;
    background-color: black;
   
}
.container{
    width: 100px;
    height: 100px;
}
